<launch>

  <include file="$(find  kobuki_description)/launch/view_model.launch" />
   <!--<include file="$(find  rulo_rl)/launch/fake_move_base_blank_map.launch" />  -->
 <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen" clear_params="true">
      <rosparam file="$(find rulo_bringup)/config/kobuki_arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>
 <!-- <node pkg="rviz" type="rviz" name="kobuki_rviz"  args="-d $(find rulo_bringup)/kobuki.rviz"/> -->
  
</launch>